<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Brands:</strong>
    <%= product.brands %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= product.categories %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= product.ingredients %>
  </p>

  <p>
    <strong>Upc code:</strong>
    <%= product.upc_code %>
  </p>

  <p>
    <%= image_tag(product.image_url, style: 'height:200px;width:auto;') %>
  </p>

</div>
